mixin info-block()
    span.validation-icon
    span.tooltip-icon= htmlWebpackPlugin.options.hint_text
    .tooltip
    p.error-text= attributes.errortext
    p.description= attributes.description


mixin input(label, name, placeholder, value, type)
    div(class=name)
        label(for=name + "-input")= label
        .input-block
            input(
                id=name + "-input",
                type=type,
                name="pay_form[" + name + "]",
                placeholder=placeholder,
                maxlength=attributes.maxlength,
                value=value)

            +info-block(
                errortext = 'pay_form.attributes.' + name + '.error',
                description = attributes.description
                )

mixin form
    form(novalidate="true", name="pay_form", action="http://localhost:3000")
        block
        input#pay_form_checkSum(type="hidden", name="pay_form[checkSum]", value="9d3101821da39b5e9064ac0fb45c6f035767f95b")
        button
            | Pay

        span.cost

mixin cardNumber
    +input("Card number", "card_number", "1111 1111 1111 1111", "", "tel")(
        maxlength="30",
        errortext="Número do cartão selecionado inválido")

mixin cardHolder
    +input("Name on card", "card_holder", "John Johnson")

mixin expiryDate
    .expiry-date
        label(for="card_exp_month-input") Expiry date
        .input-block
            +input("Card exp month", "card_exp_month", "MM", "", "tel")(
            maxlength="2",
            onfocus="handleInputFocus(true)",
            onblur="handleInputFocus(false)")

            span.date-separator /

            +input("Card exp year", "card_exp_year", "YY", "", "tel")(
            onfocus="handleInputFocus(true);",
            onblur="handleInputFocus(false);",
            maxlength="4")

        +info-block(
        errortext = "",
        description = ""
        )

mixin select(label, name, placeholder, choices)

    div(class=name)
        label(for=name + "-select")= label
        .input-block
            select(
            id=name + "-select",
            name="pay_form[" + name + "]")
                option(value="", disabled="", selected="")= placeholder
                each item, key in choices
                    option(value=key)= item

            +info-block(
            errortext = 'pay_form.attributes.' + name + '.error',
            description = attributes.description
            )

mixin selectRange(label, name, placeholder, start_val, end_val)
    - var item = start_val

    div(class=name)
        label(for=name + "-select")= label
        .input-block
            select(
            id=name + "-select",
            name="pay_form[" + name + "]")
                option(value="", disabled="", selected="")= placeholder
                while item < end_val + 1
                    -var value = (item > 9) ? item : "0" + item
                    option(value=value)= item++

            +info-block(
            errortext = 'pay_form.attributes.' + name + '.error',
            description = attributes.description
            )

mixin expiryDateSelect

    .expiry-date-select
        label(for="card_exp_month-select") Expires
        .input-block
            +selectRange("Card exp month", "card_exp_month_select", "MM", 1, 12)
            -var year = new Date().getFullYear()

            span.date-separator /

            +selectRange("Card exp year", "card_exp_year_select", "YY", year, year + 10)

        +info-block(
        errortext = 'pay_form.attributes.' + name + '.error',
        description = attributes.description
        )

mixin cardCvv
    +input("Security number", "card_cvv", "1234", "", "tel")(
        maxlength="4",
        description="Os 3 dígitos do número nas costas do seu cartão")

mixin cpf
    +input("CPF", "cpf", "CPF data")

mixin dni
    +input("DNI", "dni", "DNI data")

mixin personalId
    +input("Personal ID", "personal_id", "personal_id", "Personal ID")

mixin address
    +input("Address", "address", "address", "8 Banana street")

mixin state
    +select("State", "state", "", {'AE': 'AE - U.S. Armed Forces – Europe', 'AK': 'AK - Alaska', 'AL': 'AL - Alabama'})

mixin city
    +input("city", "city", "city", "New York", "New York")

mixin zipCode
    +input("Zip code", "zip_code", "12345", "12345", "", "tel")(maxlength="5")
